.hero-section {
  height: 100vh;
  background: url("../Assets/Grupo 6.svg") no-repeat;
  background-size: cover;
  margin: auto 0;
  width: 100vw;
}

.projects-section {
  height: 100vh;
  background: url("../Assets/Trazado 10.svg") no-repeat;
  background-size: cover;
  margin: auto 0;
  width: 100vw;
}

.projects-section h2 {
  margin: 0;
  padding: 0.9em;
  font-family: Exo;
  font-weight: bold;
  color: #FFF;
  font-size: 4.2em;
}

.project-cards {
  text-align: center;
  margin: 0;
  padding: 0 5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.project-cards .card {
  margin: 0 2em;
  background: #fb9e35;
  background: -webkit-gradient(linear, left bottom, left top, from(#fb9e35), to(#ff504f));
  background: linear-gradient(0deg, #fb9e35 0%, #ff504f 100%);
  box-shadow: 11px 17px 42px -19px rgba(0, 0, 0, 0.91);
  -webkit-box-shadow: 11px 17px 42px -19px rgba(0, 0, 0, 0.91);
  -moz-box-shadow: 11px 17px 42px -19px rgba(0, 0, 0, 0.91);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fb9e35",endColorstr="#ff504f",GradientType=1);
  border-radius: 5%;
  padding: 2% 2%;
  width: 420px;
  height: 550px;
}

.project-cards .card p {
  text-align: justify;
  color: #FFF;
  font-family: "DM Sans";
  font-weight: 500;
}

.project-cards .card img {
  border-radius: 5%;
}

.project-cards .card h3 {
  text-align: left;
  font-family: Exo;
  font-weight: bold;
  color: #FFF;
  font-size: 2em;
}

.skills-section {
  height: 100vh;
  margin: auto 0;
  width: 100vw;
}

.skills-section h2 {
  margin: 0;
  padding: 0.1em 0.9em;
  font-family: Exo;
  font-weight: bold;
  color: #772AEC;
  font-size: 4.2em;
}

.skill-big-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.skill-big-cont .skill-cont {
  width: 45%;
  padding: 0 5em;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill-big-cont .skill-cont p {
  color: #6F25F1;
  font-family: "DM Sans";
  font-weight: bold;
  font-size: 2em;
}

.skill-big-cont .skill-cont .container {
  width: 100%;
  height: 40px;
  background-color: #172F61;
  border-radius: 50px;
}

.skill-big-cont .skill-cont .pro {
  border-radius: 50px;
  height: 40px;
  background-color: #6F25F1;
}

.skill-big-cont .skill-cont .pro.wd {
  width: 65%;
}

.skill-big-cont .skill-cont .pro.py {
  width: 80%;
}

.skill-big-cont .skill-cont .pro.java {
  width: 60%;
}

.skill-big-cont .skill-cont .pro.cplus {
  width: 52%;
}

.skill-big-cont .skill-cont .pro.xd {
  width: 63%;
}

.skill-big-cont .skill-cont .pro.ai {
  width: 45%;
}

.skill-big-cont .skill-cont .pro.ps {
  width: 70%;
}

.skill-big-cont .skill-cont .pro.pr {
  width: 65%;
}

.skill-big-cont .skill-cont .pro.ml {
  width: 60%;
}

.skill-big-cont .skill-cont .pro.dl {
  width: 75%;
}

.about-section {
  height: 100vh;
  margin: auto 0;
  width: 100vw;
  background: url("../Assets/Trazado 13.svg") no-repeat;
  background-size: cover;
}

.title-container {
  width: 100vw;
  text-align: center;
  padding-top: 30em;
}

.title-container h1 {
  font-family: Exo;
  font-weight: bold;
  color: #FFF;
  font-size: 5em;
  margin-bottom: 0.5em;
}

.title-container a {
  font-family: "DM Sans";
  font-weight: bold;
  color: #FFF;
  font-size: 1.8em;
  text-decoration: none;
}

.nav-bar {
  color: #1758E2;
}

.nav-bar header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 2em;
}

.nav-bar header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.nav-bar header ul a {
  font-family: "DM Sans";
  display: block;
  font-size: 1.5em;
  padding: 0 1em;
}

.nav-bar header a {
  font-family: "MAXWELL";
  font-weight: bold;
  font-size: 1.8em;
  text-decoration: none;
}

.nav-bar header a:visited {
  color: #1758E2;
}

body {
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}
/*# sourceMappingURL=main.css.map */