.hero-section
    height: 100vh;
    background: url('../Assets/Grupo 6.svg') no-repeat;
    background-size: cover;
    margin: auto 0;
    width: 100vw;

.projects-section
    height: 100vh;
    background: url('../Assets/Trazado 10.svg') no-repeat;
    background-size: cover;
    margin: auto 0;
    width: 100vw;

.skills-section
    height: 100vh;
    margin: auto 0;
    width: 100vw;


.title-container
    width: 100vw;
    text-align: center;
    padding-top: 30em;
    h1
        font-family: Exo;
        font-weight: bold;
        color: #FFF;
        font-size: 5em;
        margin-bottom: 0.5em;

    a
        font-family: "DM Sans";
        font-weight: bold;
        color: #FFF;
        font-size: 1.8em;
        text-decoration: none;


.nav-bar
    color: #1758E2; 

    header
        display: flex;
        justify-content: space-between;
        padding: 2em;
        ul
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            a
                font-family: "DM Sans";
                display: block;
                font-size: 1.5em;
                padding: 0 1em;
        a
            font-family: "MAXWELL";
            font-weight: bold;
            font-size: 1.8em;
            text-decoration: none;
        
        a:visited
            color: #1758E2; 
        

body
    height: 100vh;
    margin: 0;
    overflow-x: hidden;
